@media print {
    :root {
        --code-background: unset;
        --code-font: monospace;
        --code-font-size:  8pt;
        --syntax-keyword:  unset;
        --syntax-element:  unset;
        --syntax-string:   unset;
        --syntax-comment:  unset;
    }

    .syntax-special, .syntax-element, .syntax-keyword, .syntax-attribute {
        font-weight: bold;
    }

    .syntax-string {
        text-decoration: underline;
        text-decoration-style: dashed;
        text-underline-offset: .2em;
    }
}
