@media print {
    :root {
        --base-color:          unset;
        --color-accent:        unset;
        --text-color:          unset;
        --heading-color:       unset;
        --font-size:           12pt;
        --ui-font:             'Times New Roman', serif;
        --line-height:         1.5em;
        --header-bg-image:     unset;
    }

    @page {
        size: A4;
        margin: 1.5in;
    }

    nav.navbar { display: none; }

    #header {
        min-height: unset;
        display: unset !important;
        box-shadow: unset;
    }

    .heading h1 { font-size: 24.88pt; }

    .heading h2, .heading h3,
    .heading h4, .heading h5, .heading h6 { font-weight: unset; }

    .heading figcaption { text-shadow: unset; }

    .heading .time-to-read { display: none; }

    #user-image { display: none; }

    .content.container {
        width: 100%;
        margin: 0;
        padding: 0;
        counter-reset: num-ref;
    }

    /* Note: The following two styles on headings are a hack to forbid breaking
     * the page right after them.
     *
     * Does not seem to work with Safari for some reason.
     */
    .content h1, .content h2, .content h3,
    .content h4, .content h5, .content h6 {
        page-break-inside: avoid;
    }

    .content h1::after, .content h2::after, .content h3::after,
    .content h4::after, .content h5::after, .content h6::after {
        content: "";
        display: block;
        height: 100px;
        margin-bottom: -100px;
    }

    /* Experimental */
    .content h1 { font-size: 20.74pt; }
    .content h2 { font-size: 17.28pt; }
    .content h3 { font-size: 14.4pt; }
    .content h4 { font-size: 12pt; }

    /* Not supported in Firefox at the moment */
    .content p { orphans: 3; widows: 3; }

    #footer { display: none; }
}
