@media(prefers-color-scheme: dark) {
	:root {
		--color-primary:       #1a232b;
		--color-accent:        #5c7999;
		--base-color:          #242e38;
		--navbar-border-color: rgba(2, 3, 3, .25) /* #141b21 */;
		--border-color:        rgba(94, 138, 181, .25);
		--heading-color:       #5e8ab5;
		--link-color:          #5e8ab5;
		--footer-link-color:   #5e8ab5;
		--text-color:          #bac4cf;
		--color-user-image-bg: #141b2130;
	}

	nav.navbar a, #menu-button {
        color: var(--navbar-color) !important;
    }

	#header {
		color: var(--text-color);
		box-shadow: 0 10px 30px var(--color-primary);
	}

	@media(min-width: 768px) {
		nav.navbar a.active {
			background-color: var(--navbar-border-color);
		}
	}

    #footer {
        color: var(--text-color);
    }

	#footer .contact-buttons > a {
		color: var(--text-color);
	}
}
